<style>
    #status {
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-top: 20px;
    }
    #players {
        font-size: 20px;
        color: #555;
        text-align: center;
        margin-top: 30px;
    }
    .kick-button, #finish-button, #quit-button, #start-button, #redirect-button {
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 18px;
        color: white;
        border: none;
        cursor: pointer;
    }
    .kick-button {
        background-color: #d9534f;
        font-size: 15px;
    }
    #finish-button, #start-button {
        margin-top: 20px;
        background-color: #5cb85c;
        color: white; /* Ensure text is readable on the green background */
        font-size: 18px; /* Increase font size */
        padding: 10px 20px; /* Increase button size */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s; /* Smooth background color transition */
    }
    
    #finish-button:hover, #start-button:hover {
        background-color: #4cae4c; /* Darker shade of green on hover */
    }
    #quit-button {
        margin-top: 20px;
        background-color: #f0ad4e;
    }
    #redirect-button {
        background-color: #0275d8;
        margin-top: 20px;
    }
    #timer {
        font-size: 28px;
        color: #d9534f;
        text-align: center;
        margin-top: 20px;
    }
    /* Pop-up styles */
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popup-content {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 300px;
        max-width: 80%;
    }
    .popup-content button {
        margin-top: 20px;
        padding: 10px 20px;
        background: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .popup-content button:hover {
        background: #0056b3;
    }
    .hidden {
        display: none;
    }
    


    #players {
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    .players {
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    .player-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    }

    .player-item p {
        font-size: 18px;
        color: #333;
        margin: 0;
    }

    /* Player Avatar */
    .player-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 15px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
    .code_container {
        display: flex;
        align-items: center;
    }
    #code {
        font-size: 20px;
        color: red;
        font-weight: bold;
        text-align: left; /* Align text to the left */
        border-left: 4px solid black; /* Frame on the left side */
        padding-left: 10px; /* Padding between the frame and text */
        margin-left: 10px; /* Margin between label and code */
    }
    .label_code {
        font-size: 20px; /* Same size for label */
        font-weight: bold; /* Ensure label is bold */
    }

    #status {
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-top: 20px;
    }

    .LinkToUser{
        margin-right: auto;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        margin-left: 6px;
    }
    .medals-tournament{
        width: 15px;
        height: auto;
    }

    .playersLinks{
        margin-right: auto;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        margin-left: 6px;
    }
    .results{
        width: 30%;
    }
    .playerInfo{
        margin-left:70px;
        text-align: left;
    }
    
</style>
<div class='players'>
    <div id="status">Connecting...</div>
    <div class="code_container">
        <span class="label_code">Code:</span>
    </div>
    <div id="code">Your code goes here</div>
    <div id="players" class='players'></div>
    <div id="actions"></div>
    <div id="timer" class="hidden">60</div> <!-- Timer display -->
</div>

<!-- Pop-up structure -->
<div id="notification-popup" class="popup hidden">
    <div class="popup-content">
        <h2 id="popup-title">Notification</h2>
        <p id="popup-message">You have been notified.</p>
        <div id="results" class="final hidden">
            <div class="playerInfo">
                <img class='medals-tournament' src="/media/game_pictures/medal_gold.png" alt="">
                <a class="playersLinks" id="player1Link"></a>
            </div>
            <div class="playerInfo">
                <img class='medals-tournament' src="/media/game_pictures/medal_silver.png" alt="">
                <a class="playersLinks" id="player2Link"></a>
            </div>
            <div class="playerInfo">
                <img class='medals-tournament' src="/media/game_pictures/medal_bronze.png" alt="">
                <a class="playersLinks" id="player3Link"></a>
            </div>
            <div class="playerInfo">
                <img class='medals-tournament' src="/media/game_pictures/medal_bronze.png" alt="">
                <a class="playersLinks" id="player4Link"></a>
            </div>
        </div>
        <button onclick="redirectToHome()">Go to Home</button>
    </div>
</div>

<script>
    sessionId = "{{ session_id }}";
    socket1 = new WebSocket(`wss://${window.location.host}/wss/game/tournament/${sessionId}/`);

    statusDiv = document.getElementById('status');
    playersDiv = document.getElementById('players');
    actionsDiv = document.getElementById('actions');
    codeDiv = document.getElementById('code');
    timerDiv = document.getElementById('timer');
    notificationPopup = document.getElementById('notification-popup');
    popupTitle = document.getElementById('popup-title');
    popupMessage = document.getElementById('popup-message');
    countdownInterval;
    countdownTime = 60;
    

    socket1.onmessage = function(event) {
        const data = JSON.parse(event.data);
        codeDiv.innerHTML = data.code;
    
        // Handle pop-up for Kick or Cancel statuses
        if (data.status === 'Kick' || data.status === 'Cancel') {
            popupTitle.textContent = data.status === 'Kick' ? 'You Were Kicked Out!' : 'Tournament Cancelled';
            popupMessage.textContent = data.status === 'Kick' ? 'Sorry, you have been kicked out of the game.' : 'The tournament has been cancelled.';
            notificationPopup.classList.remove('hidden');
            socket1.onmessage = null;
            socket1.onerror = null;
            socket1.close();
            socket1 = null;
            return;
        }
    
        // Update the status
        statusDiv.textContent = 'Status: ' + data.status;
    
        // Always display the player list
        playersDiv.innerHTML = `
            <p class="player-item">Player 1: ${data.player1 ? '<a class="LinkToUser" href="/users/' + data.player1.id + '/" data-route="/users/' + data.player1.id + '/">' + data.player1.username + '</a>' : 'Waiting...'}</p>
            <p class="player-item">Player 2: ${data.player2 ? '<a class="LinkToUser" href="/users/' + data.player2.id + '/" data-route="/users/' + data.player2.id + '/">' + data.player2.username + '</a>' : 'Waiting...'} ${data.player === 1 && data.player2 && data.player1.id !== data.player2.id && (data.status === 'Waiting' || data.status === 'Confirming') ? '<button class="kick-button" onclick="kickPlayer(2)">Kick</button>' : ''}</p>
            <p class="player-item">Player 3: ${data.player3 ? '<a class="LinkToUser" href="/users/' + data.player3.id + '/" data-route="/users/' + data.player3.id + '/">' + data.player3.username + '</a>' : 'Waiting...'} ${data.player === 1 && data.player3 && data.player1.id !== data.player3.id && (data.status === 'Waiting' || data.status === 'Confirming') ? '<button class="kick-button" onclick="kickPlayer(3)">Kick</button>' : ''}</p>
            <p class="player-item">Player 4: ${data.player4 ? '<a class="LinkToUser" href="/users/' + data.player4.id + '/" data-route="/users/' + data.player4.id + '/">' + data.player4.username + '</a>' : 'Waiting...'} ${data.player === 1 && data.player4 && data.player1.id !== data.player4.id && (data.status === 'Waiting' || data.status === 'Confirming') ? '<button class="kick-button" onclick="kickPlayer(4)">Kick</button>' : ''}</p>
        `;
    
        // Only show action buttons when the status is "Waiting" or "Confirming"
        if (data.status === 'Waiting' || data.status === 'Confirming') {
            if (data.player === 1) {
                actionsDiv.innerHTML = `
                    ${data.status === 'Confirming' ? '<button id="start-button" onclick="startGame()">Start</button>' : ''}
                    <button id="finish-button" onclick="finishLobby()">Finish</button>
                `;
            } else {
                actionsDiv.innerHTML = `<button id="quit-button" onclick="quitGame(${data.player})">Quit</button>`;
            }
        } else if (data.status === 'Round1') {
            // Handle redirect buttons based on finished status
            if ((data.player === 1 || data.player === 2) && data.finished1 === 0) {
                actionsDiv.innerHTML = `<button id="redirect-button" onclick="redirectToGame('${data.game1_id}')">Join Game</button>`;
            } else if ((data.player === 1 || data.player === 2) && data.finished1 !== 0) {
                actionsDiv.innerHTML = `<p>Waiting for other match to finish...</p>`;
            } else if ((data.player === 3 || data.player === 4) && data.finished2 === 0) {
                actionsDiv.innerHTML = `<button id="redirect-button" onclick="redirectToGame('${data.game2_id}')">Join Game</button>`;
            } else if ((data.player === 3 || data.player === 4) && data.finished2 !== 0) {
                actionsDiv.innerHTML = `<p>Waiting for other match to finish...</p>`;
            }
        } else if (data.status === 'Round2_count') {
            startCountdown(data.start);
        } else if (data.status === 'Round2') {
            // Handle Round2 status
            if (data.player === data.final1 || data.player === data.final2) {
                actionsDiv.innerHTML = `<button id="redirect-button" onclick="redirectToGame('${data.game3_id}')">Join Final Game</button>`;
            } else {
                actionsDiv.innerHTML = `<p>You are out. Wait till you see the result of the tournament.</p>`;
            }
        } else {
            actionsDiv.innerHTML = '';
            stopCountdown();
            if (data.status === 'Finished'){
                notificationPopup.classList.remove('hidden');
                document.getElementById('popup-title').textContent = 'Tournament is Finished';
                document.getElementById('')
                const resultElement = document.getElementById('results');
                resultElement.classList.remove('hidden');
    
                const p1 = document.getElementById('player1Link');
                const p2 = document.getElementById('player2Link');
                const p3 = document.getElementById('player3Link');
                const p4 = document.getElementById('player4Link');
    
                p1.textContent = data.player1.username;
                p1.href = '/users/' + data.player1.id + '/';
                p1.setAttribute('data-route' , '/users/' + data.player1.id + '/');
    
                p2.textContent = data.player2.username;
                p2.href = '/users/' + data.player2.id + '/';
                p2.setAttribute('data-route' , '/users/' + data.player2.id + '/');
    
                p3.textContent = data.player3.username;
                p3.href = '/users/' + data.player3.id + '/';
                p3.setAttribute('data-route' , '/users/' + data.player3.id + '/');
    
                p4.textContent = data.player4.username;
                p4.href = '/users/' + data.player4.id + '/';
                p4.setAttribute('data-route' , '/users/' + data.player4.id + '/');
            }
        }

    
        // Handle the timer for Round1_count and Round2_count statuses
        if (data.status === 'Round1_count' || data.status === 'Round2_count') {
            startCountdown(data.start);
        } else {
            stopCountdown();
        }
    };
    

    socket1.onerror = function(error) {
        console.error('WebSocket error:', error);
        statusDiv.textContent = 'Error connecting to the server.';
    };

    socket1.onclose = function() {
        statusDiv.textContent = 'Disconnected from server.';
        stopCountdown(); // Stop the countdown when the socket closes
    };

    
    
    function startCountdown(start) {
        clearInterval(countdownInterval); // Clear any existing countdown
        countdownTime = start; // Reset countdown to 60
        statusDiv.textContent = `Countdown: ${countdownTime}`;
    
        countdownInterval = setInterval(function() {
            countdownTime--;
            statusDiv.textContent = `Countdown: ${countdownTime}`;
    
            if (countdownTime <= 0) {
                clearInterval(countdownInterval);
                statusDiv.textContent = 'Time is up!';
            }
        }, 1000);
    }
    
    function stopCountdown() {
        clearInterval(countdownInterval); // Clear the countdown interval
    }
    

    // Function to kick a player
    window.kickPlayer = function(playerNumber) {
        const kickMessage = {
            type: 'kick',
            player: playerNumber
        };
        socket1.send(JSON.stringify(kickMessage));
    };

    // Function to finish the lobby
    window.finishLobby = function() {
        const finishMessage = {
            type: 'cancel'
        };
        socket1.send(JSON.stringify(finishMessage));
    };

    // Function to quit the game
    window.quitGame = function(player) {
        const quitMessage = {
            type: 'quit',
            player: player
        };
        socket1.send(JSON.stringify(quitMessage));
        redirectToHome();
    };

    // Function to start the game
    window.startGame = function() {
        const startMessage = {
            type: 'start'
        };
        socket1.send(JSON.stringify(startMessage));
    };

    // Function to redirect to the game page
    window.redirectToGame = function(gameId) {
        link = `/game/${gameId}`;
        loadContent(link, defaultOption, true);
    };

    // Function to redirect to home page
    window.redirectToHome = function() {
        loadContent('/', defaultOption, true);
    };
</script>