<style>
    .action-button {
        border: none;
        border-radius: 5px;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s;
        margin-left: 10px;
    }

    .action-button.add-friend {
        background-color: #28a745; /* Green */
    }

    .action-button.add-friend:hover {
        background-color: #218838;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .action-button.delete-friend {
        background-color: #dc3545; /* Red */
    }

    .action-button.delete-friend:hover {
        background-color: #c82333;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .action-button.accept-friend {
        background-color: #007bff; /* Blue */
    }

    .action-button.accept-friend:hover {
        background-color: #0056b3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .action-button.cancel-friend {
        background-color: #ffc107; /* Yellow */
    }

    .action-button.cancel-friend:hover {
        background-color: #e0a800;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

<h1>{{ user.username }}</h1>

{% if friend == 1 %}
    <button id="add-friend-btn" class="action-button add-friend" data-user-id="{{ user.id }}">Add Friend</button>
{% elif friend == 2 %}
    <button id="delete-friend-btn" class="action-button delete-friend" data-user-id="{{ user.id }}">Delete Friend</button>
{% elif friend == 3 %}
    <button id="accept-friend-btn" class="action-button accept-friend" data-user-id="{{ user.id }}">Accept Friend Request</button>
{% elif friend == 4 %}
    <button id="cancel-friend-btn" class="action-button cancel-friend" data-user-id="{{ user.id }}">Cancel Friend Request</button>
{% endif %}

{% if invite == 1 %}
    <button id="add-invite-btn" class="action-button add-friend" data-user-id="{{ user.id }}">Invite to play</button>
{% elif invite == 2 %}
    <button id="play-invite-btn" class="action-button delete-friend" data-user-id="{{ user.id }}">Already Playing</button>
{% elif invite == 3 %}
    <button id="accept-invite-btn" class="action-button accept-friend" data-user-id="{{ user.id }}">Accept Invite Request</button>
{% elif invite == 4 %}
    <button id="cancel-invite-btn" class="action-button cancel-friend" data-user-id="{{ user.id }}">Cancel Invite Request</button>
{% endif %}

<h2>Stats</h2>
<p>Total Matches: {{ user.total }} Wins: {{ user.wins }} Loses: {{ user.loses }} Winrate: {{ winrate }}</p>
<p>Elo: {{ user.elo }}</p>

<h1>History</h1>
<ul>
{% for m in matches_with_ids %}
    <li>
        <img src="{{ m.player1.avatar.url }}" width="15" height="15"/>
        <a href="/users/{{ m.player1.id }}">{{ m.match.player1 }}</a>
        Rank Change: {{ m.match.rank_change1 }}
        vs
        <img src="{{ m.player2.avatar.url }}" width="15" height="15"/>
        <a href="/users/{{ m.player2.id }}">{{ m.match.player2 }}</a>
        Rank Change: {{ m.match.rank_change2 }}
    </li>
{% endfor %}
</ul>


<script>
    addFriendButton = document.getElementById('add-friend-btn');
    acceptFriendButton = document.getElementById('accept-friend-btn');
    deleteFriendButton = document.getElementById('delete-friend-btn');
    cancelFriendButton = document.getElementById('cancel-friend-btn');


    addInviteButton = document.getElementById('add-invite-btn');
    acceptInviteButton = document.getElementById('accept-invite-btn');
    playInviteButton = document.getElementById('play-invite-btn');
    cancelInviteButton = document.getElementById('cancel-invite-btn');


    function handleAction(url, method, reload) {
        fetch(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: method === 'POST' ? JSON.stringify({ csrfmiddlewaretoken: getCookie('csrftoken') }) : null
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                console.error('Error:', data.error);
            } else {
                if (reload == 1)
                {
                    const userId = {{user.id}};
                    loadContent(`/users/${userId}`, defaultOption, true);
                }
            }
        })
        .catch(error => console.error('Error:', error));
    }

    if (addFriendButton) {
        addFriendButton.addEventListener('click', function() {
            const userId = addFriendButton.getAttribute('data-user-id');
            console.log(userId);
            handleAction(`/add_friend/${userId}/`, 'POST', 1);
        });
    }

    if (acceptFriendButton) {
        acceptFriendButton.addEventListener('click', function() {
            const userId = acceptFriendButton.getAttribute('data-user-id');
            handleAction(`/accept_friend/${userId}/`, 'POST', 1);
        });
    }

    if (deleteFriendButton) {
        deleteFriendButton.addEventListener('click', function() {
            const userId = deleteFriendButton.getAttribute('data-user-id');
            handleAction(`/delete_friend/${userId}/`, 'POST', 1);
        });
    }

    if (cancelFriendButton) {
        cancelFriendButton.addEventListener('click', function() {
            const userId = cancelFriendButton.getAttribute('data-user-id');
            handleAction(`/cancel_friend/${userId}/`, 'POST', 1);
        });
    }

    if (addInviteButton){
        addInviteButton.addEventListener('click', function() {
            const userId = addInviteButton.getAttribute('data-user-id');
            handleAction(`/add_invite/${userId}/`, 'POST', 1);
        });
    }

    if (acceptInviteButton){
        acceptInviteButton.addEventListener('click', function() {
            const userId = acceptInviteButton.getAttribute('data-user-id');
            handleAction(`/accept_invite/${userId}/`, 'POST', 0);
        });
    }

    if (playInviteButton){
        playInviteButton.addEventListener('click', function() {
            const userId = playInviteButton.getAttribute('data-user-id');
            console.log('asd');
            handleAction(`/play_invite/${userId}/`, 'POST', 0);
        });
    }

    if (cancelInviteButton){
        cancelInviteButton.addEventListener('click', function() {
            const userId = cancelInviteButton.getAttribute('data-user-id');
            handleAction(`/cancel_invite/${userId}/`, 'POST', 1);
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
