{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <title>Pong Ping</title>
</head>
<body>

    {% comment %} {% include "navbar.html" %} {% endcomment %}
    <div id='app'>
    </div>

    <script>
        var originalMethod = "{{ method|escapejs }}";
    </script>
    <style>
        body {
            background-color: #f0f4f8;
            padding:0px;
            margin:0px;
        }
    </style>
    <script src="{% static 'js/spa.js' %}"></script>
    <script src="{% static 'js/three.js' %}"></script>
    <script src="{% static 'js/play.js' %}"></script>
    {% comment %} {% include "chat.html" %} {% endcomment %}
</body>
</html>