{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .hidden {
            display: none;
        }
    </style>
    <title>Pong Ping</title>
    <style>
        body {
            background-color: #f0f4f8;
            padding:0px;
            margin:0px;
            background-image: url("{%static 'table-tennis.gif' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div id='navbar'>
    </div>
    <div id='chat'>
    </div>
    <div id='app'>
    </div>

    {% comment %} {% include "chat.html" %} {% endcomment %}
    <script>
        var originalMethod = "{{ method|escapejs }}";
    </script>
    <script src="{% static 'js/three.js' %}"></script>
    <script src="{% static 'js/play.js' %}"></script>
    <script src="{% static 'js/spa.js' %}"></script>
</body>
</html>