{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Ping</title>
</head>
<body>
    <script src="{% static 'js/spa.js' %}"></script>
    <script src="{% static 'js/three.js' %}"></script>
    <script src="{% static 'js/play.js' %}"></script>

    <div>
        {% include "navbar.html" %}
    </div>
    <div id='app'>
        
    </div>
    {% comment %} {% include "chat.html" %} {% endcomment %}

    <style>
        body {
            background-color: #f0f4f8;
            padding:0px;
            margin:0px;
        }
    </style>
</body>
</html>