<!-- templates/chat.html -->
{% load static %}
{% if user.is_authenticated %}

<div id="chat-wrapper">
    <div id="chat-header">
        <button id="hide-button">Hide Chat</button>
    </div>
    <div id="chat-box"></div>
    <div style="display: flex; padding: 10px; box-sizing: border-box;">
        <input type="text" id="message-input" placeholder="Type a message...">
        <button id="send-button">Send</button>
    </div>
</div>
<button id="toggle-button" style="display: none;">Show Chat</button> 

{% endif %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">

<script src="{% static 'js/chat.js' %}"></script>