<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping Pong</title>
</head>
<body>
    <h1>Game</h1>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`;
        const gameSocket = new WebSocket(url);
        
        gameSocket.onmessage = function(e)
        {
            let data = JSON.parse(e.data)
            console.log('Data:', data)
        }

    </script>
</body>
</html>