<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pong-Trans1</title>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body>
	<div id="Playbutton1P" class="buttons">1 Player</div>
	<div id="Playbutton2P" class="buttons">2 Player</div>
	<div id="div4" class="buttons">Multi Player</div>
	<div id="PlaybuttonMP" class="buttons">Multi Player</div>
	<textarea id="ta6">Welcome to our famous Ping Pong Game</textarea>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
