<h1>Set Your New Password</h1>
<form>
	<input type="hidden" name="uidb64" value="{{ uidb64 }}">
	<input type="hidden" name="token" value="{{ token }}">

	<label for="password">New Password:</label>
	<input type="password" id="password" name="password" minlength="6" maxlength="100" required>
	<br>

	<label for="confirm_password">Confirm Password:</label>
	<input type="password" id="confirm_password" name="confirm_password" minlength="6" maxlength="100" required>
	<br>

	<input type="button" onclick="passwordCheck()" value="Set New Password">
</form>

<script>
	async function passwordCheck() {
		let uidb64 = document.querySelector('input[name="uidb64"]').value;
    	let token = document.querySelector('input[name="token"]').value;
		let password = document.getElementById('password').value;
		let confirm_password = document.getElementById('confirm_password').value;
		try {
			response = await fetch('/password_reset-set_new/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ uidb64, token, password, confirm_password }),
			})
			var success = response.ok;
			data = await response.json();
			if (data.message)
				alert(data.message);
			else
				alert(data.detail);
			console.log(11);
			console.log(success);
			console.log(22);
			if (success) {	
				loadContent('/home/', defaultOption, true);
			}
			console.log(4);
		}
		catch (error)
		{
			alert(error);
		}
	}
</script>
