<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
</head>
<body>
    <h1>Set Your New Password</h1>
    <form>
        <input type="hidden" name="uidb64" value="{{ uidb64 }}">
        <input type="hidden" name="token" value="{{ token }}">

        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" minlength="6" maxlength="100" required>
        <br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" minlength="6" maxlength="100" required>
        <br>

        <input type="button" onclick="passwordCheck()" value="Set New Password">
    </form>

	<script>
		async function passwordCheck() {
			uidb64 = document.getElementById('uidb64');
            token = document.getElementById('token');
            password = document.getElementById('password');
            confirm_password = document.getElementById('confirm_password');

			await fetch('/accounts/password_reset-set_new/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ uidb64, token, password, confirm_password }),
			})
			.then(response => response.json())
			.then(data=>{
				if (data.success) {
					alert(data.message);
					loadContent('/home/', defaultOption, true);
				}
			}) 
		}
	</script>
</body>
</html>
