<h1>Password Reset Request</h1>
<form id="password_reset-request">
	<label for="email">Email Address:</label>
	<input type="email" id="email" name="email" required>
	<input type="button" onclick="sendRequest()" value="Request Password Reset">
</form>
<script>
	async function sendRequest()
	{
		try {
			const email = document.getElementById('email').value;
			response = await fetch('/password_reset-request/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ email }),
			})
			data = await response.json();
			alert(data.message);
		}
		catch (error) {
			alert(error);
			console.error('Error:', error);
		}
	}
</script>