<form id="profileForm" method="POST" action="/settings/" enctype="multipart/form-data">

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" readonly>
    </div>

    <div>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
    </div>

    <div>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
    </div>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
    </div>

    <div>
        <label for="is_verified">Verified:</label>
        <input type="text" id="is_verified" name="is_verified" value="{{ user.is_verified }}" readonly>
    </div>

    <div>
        <label for="date_joined">Date Joined:</label>
        <input type="text" id="date_joined" name="date_joined" value="{{ user.date_joined }}" readonly>
    </div>

    <div>
        <label for="twoFaEnable">Two-Factor Authentication:</label>
        <input type="checkbox" id="twoFaEnable" name="twoFaEnable" {% if user.twoFaEnable %}checked{% endif %}>
    </div>

    <div>
        <label for="avatar">Avatar:</label>
        <img id="avatarPreview" src="{{ user.avatar.url }}" alt="Avatar" width="150" height="150"/>
        <input type="file" id="avatar" name="avatar" accept="image/*">
    </div>

    <button type="button" onclick="submitSetting()">Update Profile</button>
</form>

<script>
    document.getElementById('avatar').addEventListener('change', function(event) {
        const avatarInput = event.target;
        const avatarPreview = document.getElementById('avatarPreview');

        if (avatarInput.files && avatarInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                avatarPreview.src = e.target.result;
            }

            reader.readAsDataURL(avatarInput.files[0]);
        }
    });

    async function submitSetting() {   
        try {
            const form = document.getElementById('profileForm');
            const formData = new FormData(form);

            const twoFaEnable = document.getElementById('twoFaEnable').checked;
            formData.set('twoFaEnable', twoFaEnable ? 'true' : 'false');
            console.log(3)
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
            });
            const data = await response.json();
            if (data.message) {
                alert(data.message);
            } else {
                alert(data.detail);
            }

        } catch (error) {
            alert('An error occurred while updating the profile: ' + error.message);
            console.error('Error:', error);
        }
    }
</script>